@{
    ViewData["Title"] = "Manage Items";
    ViewData["sidebar"] = true;
}

@using PortManager.Models;

<div class="container">
    <div id="controls" class="my-3 p-3">
        <div class="d-flex list justify-content-center">
            <a href="/Item/Add" class="btn btn-success">Add New Item</a>
        </div>
        <div class="row g-2 justify-content-center">
            <div class="col-md">
                <div class="form-floating">
                    <input type="text" id="filterBy" class="form-control" />
                    <label for="filterBy">Filter by name</label>
                </div>
            </div>

            <div class="col-md">
                <div class="form-floating">
                    <select class="form-select" id="sortBySelect" aria-label="Sort By">
                        <option value="0" selected>Name</option>
                        <option value="1">Quantity</option>
                        <option value="1">Price</option>
                        <option value="2">Updated At</option>
                        <option value="3">Created At</option>
                    </select>
                    <label for="sortBySelect">Sort By</label>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        @if (((List<Item>)ViewData["items"]).Count == 0)
        {
        <p>There are no items right now. Start by adding some new items.</p>
        }
        else
        {
        <nav id="paginate1">
            <ul class="pagination justify-content-center"></ul>
        </nav>

        foreach (var item in (List<Item>)ViewData["items"])
        {
        <div class="pagination-item col-sm-10 mb-2">
            <div class="card @(true ? "border border-success" : "")">
                <div class="card-body">
                    <h5 class="card-title">
                        <span data-filter>@item.Name</span> <small class="text-secondary">@item.Price @item.Currency</small>
                        <span class="badge bg-success float-end">On @item.Ships().Count Ships</span>
                    </h5>
                    <p class="card-text">
                        <span data-filter>@PortManager.Models.User.GetOne(item.trader_id).FullName</span> | Last updated at
                        @item.UpdatedAt
                    </p>
                    <a href="/item/Edit/@item.id" class="btn btn-primary">Edit</a>
                    <a href="#" class="btn btn-info">View Activity</a>
                    <a href="/item/Delete/@item.id" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
            }

        <nav id="paginate2">
            <ul class="pagination justify-content-center"></ul>
        </nav>
        }
    </div>
</div>
<script src="~/js/pagination.js"></script>