@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Edit Ship";
    ViewData["sidebar"] = true;
    User CurrentUser = Helper.CurrentUser(Context.Session);
    Ship ship = (Ship)ViewData["ship"];
}

<div class="container">
    <h3 class="h3">Editing @ship.NickName</h3>
    <form method="post" action="/Ship/Update/@ship.id">
        <div class="form-group">
            <label for="hin">Ship HIN</label>
            <input type="text" class="form-control" value="@ship.HIN" name="hin" placeholder="Enter Ship's HIN">
        </div>
        <div class="form-group">
            <label for="hin">Nick Name</label>
            <input type="text" class="form-control" value="@ship.NickName" name="nick_name" placeholder="Enter Nick Name">
        </div>
        <div class="form-group">
            <label for="hin">Allocated Birth</label>
            <input type="text" class="form-control" value="@ship.AllocatedBirth" name="alloc_birth" placeholder="Enter Allocated Birth">
        </div>
        <div class="form-group">
            <label for="hin">Allocated Terminal</label>
            <input type="text" class="form-control" value="@ship.AllocatedTerminal" name="alloc_term" placeholder="Enter Allocated Terminal">
        </div>
        <div class="form-group">
            <label for="status">Importing/Exporting</label>
            <select class="form-control" name="status">
                <option value="0" selected="@(ship._Status == 0)">Importing</option>
                <option value="1" selected="@(ship._Status == 1)">Exporting</option>
            </select>
        </div>

        @if (CurrentUser.Type == "Trader")
        {
            List<Item> ship_items = ship.Items();
            <div class="form-group">
                <label for="items">Attach Items</label>
                <select class="form-control" id="items-selector" multiple>
                    @foreach (Item item in Item.GetAllByTrader(CurrentUser.id))
                    {
                        if (!ship_items.Exists(ship_item => ship_item.id == item.id))
                        {
                            <option value="@item.id">@item.Name</option>
                        }
                    }
                </select>

                <label>Attached Items</label>
                <table id="selected-items">
                    @foreach (Item item in ship_items)
                    {
                        <tr>
                            <td class="item-name">@item.Name</td>
                            <td><input type="hidden" name="items[]" value="@item.id" /></td>
                            <td><input type="number" min="0" name="quantities[]" value="@item.QuantityOnShip(ship.id)" /></td>
                            <td class="delete-btn">&nbsp;&nbsp;&nbsp;&cross;</td>
                        </tr>
                    }
                </table>
            </div>
            <script src="~/js/items.js"></script>
        }
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>